# Ignorar toda la carpeta .idea (configuración de IntelliJ IDEA)
.idea/

# Ignorar archivos y carpetas específicas que mencionabas
/shelf/
/workspace.xml

# Ignorar archivos compilados de Java
*.class

# Ignorar archivos temporales y logs
*.log
*.tmp

# Ignorar carpetas de sistema y de dependencias
target/
bin/
out/
